body{    
    margin-left: auto;
    margin-right: auto;
}



/* Titre et Logo*/
header{
    background-image: url(../images/fond.png);
    margin-top: -8rem;
}


header>section.Titre>h1{
    text-align: center;
    justify-content: center;
    padding-top:2rem;
    font-size: 8rem;
    font-family: 'Cookie', cursive;
}

header>section.Titre>a>img{
    height:400px;
    width:400px;
}

header>section.Titre{
    position: relative;
    height: 200px;
    margin-top:-3rem;
    margin-bottom: -0.5rem;
    background-color: white;
    background: center no-repeat  url(../images/fondblanc.png);
}

header>section>a{
    position: absolute;
    left: 0;
    top: 0;
}

/* Resolution Titre */

@media screen and (max-width:1385px){
    header{
        background-image: url(../images/fond.png);
        margin-top: -6rem;
    }
    header>section.Titre>h1{
        text-align: center;
        justify-content: center;
        padding-top:2rem;
        font-size: 6rem;
        font-family: 'Lobster', cursive;
    }
    header>section.Titre>a>img{
        height:300px;
        width:300px;
    }
    header>section.Titre{
        position: relative;
        height: 150px;
        margin-top:-3rem;
        margin-bottom: -0.5rem;
        background-color: white;
        background: center no-repeat  url(../images/fondblanc.png);
    }
    header>section>a{
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width:990px){
    header{
        background-image: url(../images/fond.png);
        margin-top: -3rem;
    }
    header>section.Titre>h1{
        text-align: center;
        justify-content: center;
        padding-top:2rem;
        font-size: 3rem;
        font-family: 'Lobster', cursive;
    }
    header>section.Titre>a>img{
        height:200px;
        width:200px;
    }
    header>section.Titre{
        position: relative;
        height: 100px;
        margin-top:-3rem;
        margin-bottom: -0.5rem;
        background-color: white;
        background: center no-repeat  url(../images/fondblanc.png);
    }
    header>section>a{
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media screen and (max-width:600px){
    header{
        background-image: url(../images/fond.png);
        margin-top: -3rem;
    }
    header>section.Titre>h1{
        text-align: center;
        justify-content: center;
        padding-top:2rem;
        font-size: 3rem;
        font-family: 'Lobster', cursive;
    }
    header>section.Titre>a>img{
        height:150px;
        width:150px;
    }
    header>section.Titre{
        position: relative;
        height: 100px;
        margin-top:-3rem;
        margin-bottom: -0.5rem;
        background-color: white;
        background: center no-repeat  url(../images/fondblanc.png);
    }
    header>section>a{
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 2rem;
    }
}



/* "Prochainement" */
header>section.Prochainement{
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    height: 200px;
    background: center no-repeat  url(../images/fondblanc.png);
}

header>section.Prochainement>h2{
    font-size: 3rem;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin-top: 0rem;
}



header>section.Prochainement>dl{
    text-align: center;
    padding-right: 3.5rem;
    margin-top: -3rem;
    color: #5499c7;
}

header>section.Prochainement>dl>dt.ProchainementTitre{
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}

header>section.Prochainement>dl>dt{
    font-size: 2rem;
    font-family: 'Dosis', sans-serif;
    margin-bottom: -0.5rem;
}



/* Resolution Prochainement */

@media screen and (max-width:1385px){
        header>section.Prochainement{
            margin-top: 0.5rem;
            margin-bottom: -0.5rem;
            height: 150px;
            background: center no-repeat  url(../images/fondblanc.png);
        }
        header>section.Prochainement>h2{
            font-size: 2.5rem;
            font-family: 'Dosis', sans-serif;
            text-align: center;
            margin-top: 0rem;
        }
        header>section.Prochainement>dl{
            text-align: center;
            padding-right: 3.5rem;
            margin-top: -2rem;
        }
        header>section.Prochainement>dl>dt.ProchainementTitre{
            font-size: 2rem;
            font-family: 'Lobster', cursive;
        }
        header>section.Prochainement>dl>dt{
            font-size: 1.5rem;
            font-family: 'Dosis', sans-serif;
            margin-bottom: -0.5rem;
    }
}

@media screen and (max-width:990px){
    header>section.Prochainement{
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
        height: 100px;
        background: center no-repeat  url(../images/fondblanc.png);
    }
    header>section.Prochainement>h2{
        font-size: 2rem;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        margin-top: 0rem;
    }
    header>section.Prochainement>dl{
        text-align: center;
        padding-right: 3.5rem;
        margin-top: -2rem;
    }
    header>section.Prochainement>dl>dt.ProchainementTitre{
        font-size: 1.5rem;
        font-family: 'Lobster', cursive;
    }
    header>section.Prochainement>dl>dt{
        font-size: 1rem;
        font-family: 'Dosis', sans-serif;
        margin-bottom: -0.25rem;
}
}

@media screen and (max-width:600px){
    header>section.Prochainement{
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
        height: 100px;
        background: center no-repeat  url(../images/fondblanc.png);
    }
    header>section.Prochainement>h2{
        font-size: 2rem;
        font-family: 'Dosis', sans-serif;
        text-align: center;
        margin-top: 0rem;
    }
    header>section.Prochainement>dl{
        text-align: center;
        padding-right: 3.5rem;
        margin-top: -2rem;
    }
    header>section.Prochainement>dl>dt.ProchainementTitre{
        font-size: 1.5rem;
        font-family: 'Lobster', cursive;
    }
    header>section.Prochainement>dl>dt{
        font-size: 1rem;
        font-family: 'Dosis', sans-serif;
        margin-bottom: -0.25rem;
}
}


/* Menu de Navigation */


header>nav{
    border-width: 1.5px;
    background-color: #5499c7;
    padding: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

header>nav>div>a>button{
    background-color: #75BCC6;
    height: 2rem;
    width: auto;
    margin: 1px;
    border: 1px black;
    font-weight: bolder;
    font-size: 1rem;
}
header>nav>div>a>button:hover{
    background-color: #77ABC6;
}


/* Corps du site */
section.corps{
    display: grid;
    grid-template-columns: 0.25fr 2fr 0.25fr 2fr 0.25fr 2fr 0.25fr;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: white;
}

/* Article */

article.Article1{
    grid-column: 2;
    grid-row: 1;
}

article.Article2{
    grid-column: 4;
    grid-row: 1;
}

article.Article3{
    grid-column: 6;
    grid-row: 1;
}

@media screen and (max-width:1110px){
    section.corps{
        grid-template-columns: 0.25fr 1fr 0.5fr 1fr 0.25fr;
    }
    article.Article3{
        grid-column: 2;
        grid-row: 2;
        margin-top: 1rem;
    }
    article.Article1{
        grid-column: 2;
        grid-row: 1;
    }
    article.Article2{
        grid-column: 4;
        grid-row:1;
    }
}

@media screen and (max-width:770px){
    section.corps{
        grid-template-columns: 0.25fr 1fr 0.25fr;
    }
    article.Article3{
        grid-column: 2;
        grid-row: 3;
        margin-top: 1rem;
    }
    article.Article1{
        grid-column: 2;
        grid-row: 1;
        margin-top: 1rem;
    }
    article.Article2{
        grid-column: 2;
        grid-row:2;
        margin-top: 1rem;
    }
}


article{
    background-color: #5499c7;
    border-color: #5499c7;
    height: 400px;
    min-width: 370px;
    border-radius: 5px;
}

article>section>img{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

section.corps>article>section.description>h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

section.corps>article>section.description>ul{
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    padding-left: 15rem;
    padding-top: 2rem;
}



/* Footer */

footer{
    height: 150px;
    background-color: #5499c7;
}

footer>div.Lien{
    text-align: center;
}

footer>div.Lien>a+p{
    display: inline-block;
    text-align: center;
    margin-left: 0.75rem;
    margin-right: 1rem;
    margin-top: 2rem;
}



footer>div.Reseau{
    text-align: center;
}

footer>div.Reseau>a{
    margin-left: 1rem;
    margin-right: 1rem;
}
